.container{
  position:relative;
}

#loading{
  position:absolute;
  top:100px;
  right:425px;
  width:150px;
  margin:0 auto;
  font-weight:bold;
  background: url(../img/ajax-loader.gif) 150px 22px no-repeat;
}

h1{
 margin-bottom:10px;
}

.tweet{
  height:95px;
  overflow:hidden;
  padding-top:8px;
}

.tweet .predicted_language{
  padding-bottom:8px;
  width:650px;
  float:left;
}

.tweet .predicted_language img{
  width:16px;
  height:11px;
}

.tweet .profile_image{
  float:left;
  clear:left;
  width:65px;
}

.tweet .tweetContent{
  width: 650px;
  float: left;
}

.tweet .name{
  display: inline-block;
  font-weight:bold;
  margin-right:15px;
}

.tweet .text{
  margin:7px 0;
}

.tweet .created_at{
  color:#999;
  font-size:10px;
}

.tweet .location{
  display:inline-block;
  margin-left:15px;
}

.tweet .screen_name{
  display: inline-block;
}

.tweet .stats{
  margin-left:15px;
  font-size:14px;
  width:100px;
  float:right;
}

.tweet .stats img{
  padding-right:5px;
  width:16px;
  height:11px;
  margin-top:-5px;
}

.tweet .trained{
  font-weight:bold;
}

#content{
  margin-top:50px;
}

#content h1{
  float:left;
  width:600px;
}

#pause{
  display:inline-block;
  float:right;
}

#explanation{
  clear:both;
}

.tweetContainer{
  clear:both;
  height:730px;
  overflow:scroll;
  position:relative;
}

#content.stream .tweetContainer{
  overflow:hidden;
}

#content.stream .tweets{
  position:absolute;
  bottom:0;
}


.meter{
  position: relative;
  display:inline-block;
  margin:2px;
  cursor:pointer;
}

.meter, .meter-value, .meter-text {
  width: 100px;
  height: 14px;
}

.meter {
  background: #bdbdbd;
}

.meter-value{
  width:0%;
  background:#2373b3;
}

.meter-text {
  position: absolute;
  top:0; left:0;
  color: #fff;
  text-align: center;
  width: 100%;
  font-size:10px;
  line-height:14px;
}


footer{
  margin-top:50px;
  padding:8px 0;
  border-top:1px #CCC solid;
  text-align:right;
}
