#classify{
  display:none;
}

#classification{
  padding:5px;
}

#classification button{
  width:125px;
}

h1{
 margin-bottom:10px;
}

.tweet{
  height:95px;
  overflow:hidden;
  padding-top:8px;
}

.tweet .predicted_language{
  padding-bottom:8px;
  width:650px;
  float:left;
}

.tweet .profile_image{
  float:left;
  clear:left;
  width:65px;
}

.tweet .tweetContent{
  width: 650px;
  float: left;
}

.tweet .name{
  display: inline-block;
  font-weight:bold;
  margin-right:15px;
}

.tweet .text{
  margin:7px 0;
}

.tweet .created_at{
  color:#999;
  font-size:10px;
}

.tweet .location{
  display:inline-block;
  margin-left:15px;
}

.tweet .screen_name{
  display: inline-block;
}

.tweet .stats{
  margin-left:15px;
  font-size:14px;
  width:100px;
  float:right;
}

.tweet .stats img{
  padding-right:5px;
}

.tweet .trained{
  font-weight:bold;
}


#tweets{
}

#tweets h1{
  float:left;
  width:600px;
}

#pause{
  display:inline-block;
  float:right;
}

.contentContainer{
  clear:both;
  height:730px;
  overflow:hidden;
  position:relative;
}

.content{
  position:absolute;
  bottom:0;
}

footer{
  margin-top:50px;
  padding:8px 0;
  border-top:1px #CCC solid;
  text-align:right;
}
